/* Estilo para ocultar elementos*/
.hidden{
    display: none; 
}
/*Estilo pare el body*/
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#fc901c,#1c81fc);
  height: 100vh;
  position: relative;
  font-family: verdana;
}
/* Estilo para el formulario inicial de inicio de sesión */
.formulario{
  margin: 1px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
 background: rgba(255, 255, 255, 0.1); /* Transparente */
  backdrop-filter: blur(20px);           /* Efecto de vidrio */
  padding: 10px;
  border-radius: 15px;
}
/* El titulo del inicio de sesion*/
.formulario h1{
  opacity: 1;
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}
/* El div donde esta metido todo el formulario */
.formulario form{
  opacity: 1;
  padding: 0 40px;
  box-sizing: border-box;
}
/*Aqui se les esta dando estilo a los elementos del formulario */
form .username{
  opacity: 1;
  position: relative;
  margin: 30px 0;
  border-bottom: 1px solid silver;
}
form .password{
  opacity: 1;
  position: relative;
  margin: 30px 0;
  border-bottom: 1px solid silver;
}
/* Estilo para los botones del formulario */

/*Estilo para los botones para iniciar sesion con los proveedores */
#loginProviders{
    position: relative;
    margin : 30px 0;
   
}
.RegistroPopup{
    position: relative;
    margin : 250px auto;
    width : 400px;
    height: 400px;
    justify-content: center;
    align-items: center;  
    display: flex;
    
}
.InputRegister{
    opacity: 1;
    position: relative;
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 2px solid silver;
}